@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --bg-app: #0a0a0a;
  --bg-card: #121A2B;

  --text-primary: #E7ECF5;
  --text-secondary: #8B95AC;

  --border-default: #233049;

  --success: #4ADE80;
  --error: #F87171;

  --accent-learning: #3B82F6;
  --accent-simulator: #7FF5D6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}